<!doctype html>
<html>
  <head>
    <title>{% block title %}Climate Data Visualization{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% block head %}
      <!-- for extra CSS/JS -->
    {% endblock %}
  </head>

  <body>
    <h3>A Visualization of Historical Climate Data</h3>
    <hr>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

    {% block body %}  {% endblock %}
  </body>
</html>