{% extends 'base.html' %}
  {% block content %}
    <div id="map" style="height:60em;width:75em;"></div>
    <script>
      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 0, lng: 0},
          zoom: 2,
          mapTypeId: 'terrain',
          mapTypeControl: false,
          zoomControl: false,
          scaleControl: false,
          styles: mapStyle
        });

      var heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatmapData
      });
      heatmap.setMap(map);

      var mapStyle = [{
        'featureType': 'all',
        'elementType': 'all',
        'stylers': [{'visibility': 'off'}]
      }, {
        'featureType': 'landscape',
        'elementType': 'geometry',
        'stylers': [{'visibility': 'on'}, {'color': '#fcfcfc'}]
      }, {
        'featureType': 'water',
        'elementType': 'labels',
        'stylers': [{'visibility': 'off'}]
      }, {
        'featureType': 'water',
        'elementType': 'geometry',
        'stylers': [{'visibility': 'on'}, {'hue': '#5f94ff'}, {'lightness': 60}]
      }];
    }

    // map.data.loadGeoJson(
    // 'https://storage.googleapis.com/mapsdevsite/json/google.json');
    // }

    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwrmHFnKVopnVG6TjhY02qUcd1CBulyv0&libraries=visualization&callback=initMap" async defer>
    </script>
  {% endblock %}