{% extends 'base.html' %}
{% block head %}

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

    <script src="/static/map.js"></script>

{% endblock %}
  {% block body %}
    <div id="map" style="height:60em;width:75em;"></div>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwrmHFnKVopnVG6TjhY02qUcd1CBulyv0&libraries=visualization&callback=initMap" async defer>
    </script>
  {% endblock %}