{% extends 'base.html' %}
  {% block body %}

  <script src="https://code.jquery.com/jquery.js"></script>
  <div>
    <h3>US Climate Data for year</h3>
    <select name="time_index" id="mapview">
        <option value='0'>1850</option>
        <option value='120'>1860</option>
        <option value='240'>1870</option>
        <option value='360'>1880</option>
        <option value='480'>1890</option>
        <option value='600'>1900</option>
        <option value='720'>1910</option>
        <option value='840'>1920</option>
        <option value='960'>1930</option>
        <option value='1080'>1940</option>
        <option value='1200'>1950</option>
        <option value='1320'>1960</option>
        <option value='1440'>1970</option>
        <option value='1560'>1980</option>
        <option value='1680'>1990</option>
        <option value='1800'>2000</option>
        <option value='1920'>2010</option>
    </select>
    <button id="selectmap">Show</button>
  </div>
  <div id="map" style="height:35em;width:60em;margin:3em;"></div>
  <script src="/static/map.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwrmHFnKVopnVG6TjhY02qUcd1CBulyv0&libraries=visualization&callback=initMap" async defer>
  </script>

  {% endblock %}